* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
a:visited,
a:hover,
a:active,
a:focus,
button,
h5 {
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  font-size: 100%;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}
/* *Other ========================== */
input[type="email"] {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.compensate-for-scrollbar {
  margin-right: 0 !important;
}
.br-none {
  display: none;
}
/* *title ========================== */
.title {
  font-size: 34px;
  font-weight: 500;
  line-height: 40px;
  color: #4c5051;
  text-align: left;
  margin-bottom: 64px;
  position: relative;
}
.title:before {
  position: absolute;
  content: "";
  background: #a2e2f8;
  height: 1px;
  width: 600px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -656px;
}
/* *Btns ============================ */
/* Btn main ================ */
.btn a,
.btn button {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  padding: 11px 32px;
  color: #ffffff;
  background: #5accf0;
  -webkit-box-shadow: 0px 0px 9px 3px #a2e2f8;
  box-shadow: 0px 0px 9px 3px #a2e2f8;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn a:hover,
.btn button:hover {
  background: #5accf0;
  -webkit-box-shadow: 0px 0px 9px 5px #a2e2f8;
  box-shadow: 0px 0px 9px 5px #a2e2f8;
}
.btn a:active,
.btn button:active {
  background: #a2e2f8;
  -webkit-box-shadow: inset 0px 0px 9px 3px rgba(90, 204, 240, 0.8);
  box-shadow: inset 0px 0px 9px 3px rgba(90, 204, 240, 0.8);
}
/* Square btn ======================= */
.btn.btn--square a,
.btn.btn--square button {
  padding: 13px 48px;
  border-radius: 5px;
  font-size: 19px;
  line-height: 22px;
}
/* *Header ========================= */
.header {
  padding-top: 32px;
  position: relative;
  z-index: 20;
  margin-bottom: 112px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
.header__inner:before {
  position: absolute;
  content: url("../images/bg/logo-bg-blue.png");
  top: -32px;
  left: -395px;
  z-index: 5;
}
.header__logo {
  max-width: 255px;
  height: auto;
}
.header__logo-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.header__phone {
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
  color: #5accf0;
}
.header__phone-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  color: #5accf0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-bottom: 2px;
}
.header__phone-icon {
  margin-right: 16px;
}
.header__phone-link path {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header__phone-link:hover path {
  fill: #1d7c9c;
}
.header__phone-link:after {
  position: absolute;
  content: "";
  height: 1px;
  width: 82%;
  background-color: #5accf0;
  bottom: 2px;
  right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header__phone-link:hover {
  color: #1d7c9c;
}
.header__phone-link:hover:after {
  background-color: #1d7c9c;
}
/* *Intro ========================= */
.intro {
  position: relative;
  padding: 0 0 80px 0;
}
.intro__title {
  font-size: 40px;
  line-height: 54px;
  color: #4c5051;
  font-family: "Raleway", sans-serif;
  text-align: left;
  font-weight: 700;
  margin-bottom: 24px;
  text-transform: uppercase;
  width: 85%;
}
.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.intro-left {
  width: 50%;
}
.intro-right {
  width: 50%;
}
.intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 24px;
}
.intro-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 24px;
}
.intro-block__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-right: 25px;
}
.intro-block__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.intro-block__title {
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  color: #6e7273;
}
.intro__main-img {
  height: 100%;
  width: auto;
  position: relative;
}
.intro__main-img img {
  position: absolute;
  top: -200px;
  left: 25px;
}
/* *Desc ==================== */
.desc {
  padding: 80px 0;
  background: #f5f9fb;
}
.desc__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
}
.desc__image {
  border-radius: 5px;
  max-height: 432px;
  width: 40%;
}
.desc__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
}
.desc__image.desc__image--table {
  display: none;
}
.desc__content {
  padding: 24px 40px 24px 32px;
  width: 60%;
}
.desc__text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 24px;
  color: #4c5051;
}
.desc__text:last-child {
  margin-bottom: 0;
}
.desc-mark {
  color: #1d7c9c;
  font-weight: 700;
}
/* *Use ===================== */
.use {
  padding: 80px 0 50px 0;
  position: relative;
}
.use__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.use-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 445px;
  border-radius: 5px;
  margin: 0 15px 30px;
  padding: 48px;
  border: 1px solid #83dbf8;
}
.use-card__icon {
  width: 136px;
  height: 136px;
  margin-bottom: 25px;
}
.use-card__icon img {
  max-width: 100%;
  height: auto;
}
.use-card__text {
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: #6e7273;
  line-height: 34px;
}
/* *Order ========================= */
.order {
  padding: 80px 0;
  position: relative;
  background: #f5f9fb;
}
.order.order--bottom {
  background: #fff;
}
.order__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.order__inner:after {
  position: absolute;
  content: url("../images/bg/logo-bg-white.png");
  right: -640px;
  top: -45px;
}
.order.order--bottom .order__inner:after {
  content: "";
}
.order__content {
  width: 50%;
}
.order__image img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  top: 55px;
  left: 30px;
}
.order.order--bottom .order__image img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  top: 0px;
  left: -35px;
}
.order__text {
  margin-bottom: 48px;
  font-size: 20px;
  font-weight: 300;
  color: #4c5051;
}
.form {
  width: 352px;
  margin-bottom: 48px;
}
.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin-bottom: 24px;
}
.form__group .input-textarea {
  margin-bottom: 15px;
}
.form__group-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.form__group label {
  color: #a0a3a5;
  margin-bottom: 16px;
}
.form__group input,
.form__group textarea {
  border-bottom: 2px solid #a0a3a5;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background: transparent;
}
.form__group input {
  padding: 3px 0;
}
.form__group textarea {
  resize: none;
  width: 100%;
  height: 40px;
  padding-top: 15px;
}
.form__group input:focus,
.form__group textarea:focus {
  border-color: #5accf0;
  border-width: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.form__group-center .form__group {
  width: 50%;
  margin-right: 32px;
}
.form__group-center .form__group:last-child {
  margin-right: 0px;
}
.form__group-center .form__group input {
  width: 100%;
}
.label-textarea {
  margin-bottom: 0;
}
input:focus ~ label,
textarea:focus ~ label {
  color: #1d7c9c;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.form input,
textarea {
  border-bottom: 2px solid #a0a3a5;
  width: auto;
}
.add-phone {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #4c5051;
}
.add-phone__link {
  color: #5accf0;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.add-phone__link:hover {
  color: #1d7c9c;
  border-bottom: 1px solid #1d7c9c;
}
/* *About ====================== */
.about {
  padding: 80px 0;
  position: relative;
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 64px;
}
.about__left {
  width: 50%;
}
.about__text {
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 30px;
  color: #4c5051;
}
.about__text:last-child {
  margin-bottom: 0;
}
.about__right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.about__list {
  font-size: 18px;
  line-height: 24px;
  color: #1d7c9c;
  font-weight: 500;
}
.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
}
.about__items-icon {
  margin-right: 32px;
}
/* *certification ==================== */
.certification__inner {
  margin-bottom: 64px;
}
.certification__title,
.video__title {
  text-align: center;
  font-weight: 300;
  color: #4c5051;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 56px;
}
.certification__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.certification__item {
  background: #83dbf8;
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 25px;
  position: relative;
}
.certification__item:hover .certification__zoom {
  opacity: 1;
}
.certification__image {
  display: inline-block;
  width: 220px;
  height: 310px;
  margin: 30px 20px;
  -webkit-filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.3));
  border-radius: 5px;
  overflow: hidden;
}
.certification__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.certification__zoom {
  opacity: 0;
  position: absolute;
  top: 0;
  height: 100px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  width: 78px;
  height: 78px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
.certification__zoom-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}
.certification__scroll::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 10px;
  height: 0px;
}
.certification__scroll::-webkit-scrollbar-track {
  background-color: #fff;
}
.certification__scroll::-webkit-scrollbar-thumb {
  background-color: #82dbe8;
}
.certification__scroll::-webkit-scrollbar-thumb:hover {
  background-color: #82dbe8;
}
.certification__scroll::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 6px;
  height: 0px;
}
.certification__scroll::-webkit-scrollbar {
  width: 6px;
}
/* *Work ============================= */
.work {
  padding: 80px 0;
}
.work__num-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  counter-reset: item;
  list-style: none;
  height: 135px;
  position: relative;
  z-index: 20;
}
.work__num-item {
  width: 355px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  font-size: 16px;
  padding-left: 150px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
}
.work__num-item:before {
  position: absolute;
  content: counter(item);
  counter-increment: item;
  color: #fff;
  font-size: 157px;
  line-height: 184px;
  font-weight: 700;
  left: 50px;
  top: -12px;
  bottom: 0;
  margin: auto;
}
.work__num-item:nth-child(1):after {
  position: absolute;
  content: "";
  background: url(../images/rect-3.png);
  background-position: center right;
  background-repeat: no-repeat;
  height: 100%;
  width: 300%;
  right: -50px;
  z-index: -1;
}
.work__num-item:nth-child(2):after {
  position: absolute;
  content: "";
  background: url(../images/rect-2.png);
  background-position: center right;
  background-repeat: no-repeat;
  height: 100%;
  width: 300%;
  right: -50px;
  z-index: -2;
}
.work__num-item:nth-child(3):after {
  position: absolute;
  content: "";
  background: url(../images/rect-1.png);
  background-position: center right;
  background-repeat: no-repeat;
  height: 100%;
  width: 300%;
  right: -50px;
  z-index: -3;
}
.work__phone-link {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.work__phone-link:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.work__phone-link:hover {
  color: #1d7c9c;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.work__phone-link:hover.work__phone-link:before {
  background: #1d7c9c;
}
/* *Question ====================================== */
.question {
  background: #f5f9fb;
  padding: 80px 0;
}
.question__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* Accordion ================== */
.accordion {
  counter-reset: myCounter;
  width: 918px;
}
.accordion__card {
  position: relative;
  margin-bottom: 24px;
}
.accordion__title {
  font-size: 18px;
  cursor: pointer;
  position: relative;
  z-index: 5;
  padding: 28px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  color: #1d7c9c;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  overflow: hidden;
  border-radius: 5px;
  outline: none;
}
.accordion__title.active {
  color: #1d7c9c;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  outline: none;
}
.accordion__title:before {
  content: counter(myCounter);
  counter-increment: myCounter;
  position: absolute;
  left: 14px;
  color: #83dbf8;
  font-size: 55px;
  font-weight: 400;
  text-align: center;
  z-index: 1;
  font-family: "Roboto", sans-serif;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  line-height: 50px;
}
.accordion__title.active:before {
  color: #1d7c9c;
}
.accordion__title:after {
  content: url(../images/icons/Polygon.png);
  position: absolute;
  right: 25px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-bottom: -12px;
}
.accordion__title.active:after {
  margin-top: -12px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.accordion__description {
  font-size: 18px;
  line-height: 24px;
  display: none;
  padding: 0 58px;
  overflow-y: scroll;
  margin: 20px 25px 35px 0;
  color: #0e0f0f;
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: #1f3636 transparent;
}
/* scroll bar ================================== */
.accordion__description::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 10px;
  height: 0px;
}
.accordion__description::-webkit-scrollbar-track {
  background-color: transparent;
}
.accordion__description::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #1f3636;
}
.accordion__description::-webkit-scrollbar-thumb:hover {
  background-color: #e5e5e5;
}
.accordion__description::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 6px;
  height: 0px;
}
.accordion__description::-webkit-scrollbar {
  width: 6px;
}
/* *Footer ====================== */
.footer {
  background: #1d7c9c;
  padding: 80px 0;
  position: relative;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 50%;
}
.footer__map {
  width: 50%;
}
.footer__map-desktop {
  display: inline-block;
  height: 304px;
  width: 540px;
  border-radius: 5px;
  overflow: hidden;
}
.contacts {
  padding-left: 60px;
}
.contacts__address {
  position: relative;
  color: #fff;
  line-height: 24px;
  margin-bottom: 32px;
}
.contacts__address:before {
  position: absolute;
  content: "";
  background: url(../images/icons/loc.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 34px;
  width: 24px;
  left: -54px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.contacts__phone {
  position: relative;
  color: #fff;
  line-height: 24px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.contacts__phone:before {
  position: absolute;
  content: "";
  background: url(../images/icons/footer-call.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 30px;
  width: 30px;
  left: -57px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.contacts__phone:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: transparent;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.contacts__phone:hover {
  color: #86e3f0;
}
.contacts__phone:hover:after {
  background: #86e3f0;
}
.footer__map-table {
  display: none;
  position: absolute;
  top: 80px;
  right: 0px;
  width: 50%;
  height: 272px;
  border-radius: 5px;
  overflow: hidden;
}
.footer__logo {
  margin-bottom: 32px;
}
.footer__upfly {
  line-height: 21px;
  color: #fff;
}
.footer__upfly a {
  font-weight: 700;
  position: relative;
}
.footer__upfly a:after {
  position: absolute;
  content: "";
  background: #86e3f0;
  width: 50%;
  height: 3px;
  bottom: -3px;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer__upfly a:hover:after {
  width: 100%;
}
/* *Modal ===================== */
.modal__title {
  color: #1f3636;
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-bottom: 25px;
}
.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  border-radius: 25px;
}
.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 498px;
  height: 522px;
  padding: 25px;
  background: url(../images/bg/bg-modal.svg);
  background-repeat: no-repeat;
  background-position: right top 70px;
  border-radius: 30px;
  position: relative;
}
.close {
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-bottom: 20px;
}
.form__buttons.form__buttons--popup {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 45px;
}
.modal__close {
  background: transparent;
  padding: 0;
  border: none;
  font-size: 0;
  -webkit-transform: translateY(-60%);
  -ms-transform: translateY(-60%);
  transform: translateY(-60%);
}
.btn--modal {
  padding: 19px 35px;
  text-align: center;
}
.form--modal {
  margin-bottom: 0;
}
.form--modal .form__group textarea {
  height: 33px;
  padding-top: 7px;
}
.fancybox-slide--html .fancybox-close-small {
  display: none;
  padding: 10px;
}
.fancybox-can-swipe .fancybox-content,
.fancybox-can-pan .fancybox-content {
  cursor: inherit;
  vertical-align: none;
  padding: 0;
}
/* *404 ======================= */
.error__wrapper {
  min-height: 100vh;
}
.error__inner {
  width: 540px;
  margin: -50px auto 0;
}
.error__num {
  font-size: 288px;
  line-height: 1;
  color: #e1e1e1;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin-bottom: 10px;
}
.error__title {
  color: #5accf0;
  font-size: 50px;
  line-height: 59px;
  margin-bottom: 10px;
}
.error__text {
  font-size: 22px;
  line-height: 26px;
  color: #636a6a;
  margin-bottom: 40px;
}
.error__wrapper .header {
  margin-bottom: 0;
}
/* *Success =================== */
.success-wrapper {
  min-height: 100vh;
}
.success__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.success__title {
  font-size: 50px;
  line-height: 59px;
  color: #5accf0;
  font-family: "Raleway", sans-serif;
  margin-bottom: 33px;
}
.success__text {
  font-size: 22px;
  line-height: 26px;
  color: #636a6a;
  margin-bottom: 100px;
}
.success__inner .btn {
  text-align: center;
}
/* *YouTube ================= */
.youtube {
  border-radius: 5px;
  overflow: hidden;
  max-width: 980px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 47.25%;
  height: 549px;
  overflow: hidden;
}
.youtube img {
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  width: 100%;
}
.youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: #333;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}
.youtube:hover.youtube .play-button {
  background-color: #5accf0;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26px;
  border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
  cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
  position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}
