* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:visited,
a:hover,
a:active,
a:focus,
button {
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  font-size: 100%;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}
sup {
  line-height: 1.1;
}
.br-none {
  display: none;
}
/* *title ========================== */
.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  color: #39acbc;
  text-align: center;
  margin-bottom: 80px;
}
.title--thin {
  font-size: 28px;
  line-height: 33px;
  font-weight: 400;
}
/* *btn ============================ */
.btn {
  text-align: center;
}
.btn a,
.btn button {
  display: inline-block;
  font-size: 19px;
  font-weight: 700;
  line-height: 22px;
  padding: 19px 32px;
  color: #ffffff;
  background-color: #7edeec;
  -webkit-box-shadow: inset 0px -23px 28px rgba(62, 190, 207, 0.88);
  box-shadow: inset 0px -23px 28px rgba(62, 190, 207, 0.88);
  border: 1px solid #42bfd1;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn a:hover,
.btn button:hover {
  -webkit-box-shadow: inset 0px 23px 34px rgba(62, 190, 207, 0.85);
  box-shadow: inset 0px 23px 34px rgba(62, 190, 207, 0.85);
}
.btn a:active,
.btn button:active {
  -webkit-box-shadow: inset 0px 15px 21px rgba(107, 226, 243, 0.86);
  box-shadow: inset 0px 15px 21px rgba(107, 226, 243, 0.86);
}
.btn--sm a,
.btn--sm button {
  font-size: 18px;
  line-height: 21px;
  padding: 10px 64px 10px 24px;
  position: relative;
}
.btn--sm a:after,
.btn--sm button:after {
  position: absolute;
  content: "";
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-image: url(../images/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.btn--square button,
.btn--square a {
  font-size: 19px;
  line-height: 22px;
  padding: 13px 48px;
  border-radius: 11px;
  margin-top: 40px;
}
.btn.btn--square {
  text-align: left;
}
.btn--modal {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 62px;
}
.btn--modal button,
.btn--modal a {
  display: inline-block;
  font-size: 19px;
  font-weight: 700;
  line-height: 22px;
  padding: 13px 48px;
  color: #ffffff;
  background-color: #7edeec;
  -webkit-box-shadow: inset 0px -23px 28px rgba(62, 190, 207, 0.88);
  box-shadow: inset 0px -23px 28px rgba(62, 190, 207, 0.88);
  border: 1px solid #42bfd1;
  border-radius: 11px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn--modal a:hover,
.btn--modal button:hover {
  -webkit-box-shadow: inset 0px 23px 34px rgba(62, 190, 207, 0.85);
  box-shadow: inset 0px 23px 34px rgba(62, 190, 207, 0.85);
}
.btn--modal a:active,
.btn--modal button:active {
  -webkit-box-shadow: inset 0px 15px 21px rgba(107, 226, 243, 0.86);
  box-shadow: inset 0px 15px 21px rgba(107, 226, 243, 0.86);
}
/* *Diviner ======================== */
.divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #fff;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -50px;
  z-index: 20;
}
.divider__center {
  position: relative;
}
.divider__center:after,
.divider__center:before {
  position: absolute;
  content: "";
  height: 1px;
  width: 125px;
  background-color: #82dbe8;
  bottom: 0;
  top: 0;
  margin: auto;
}
.divider__center:before {
  left: -185px;
}
.divider__center:after {
  right: -185px;
}
/* *Header ========================= */
.header {
  padding-top: 32px;
  position: relative;
  z-index: 20;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo {
  max-width: 255px;
  height: auto;
}
.header__logo-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.header__phone {
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
  color: #39acbc;
}
.header__phone-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  color: #39acbc;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header__phone-icon {
  margin-right: 16px;
  height: 26px;
}
.header__phone-link path {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header__phone-link:hover path {
  fill: #e4097f;
}
.header__phone-link:after {
  position: absolute;
  content: "";
  height: 1px;
  width: 82%;
  background-color: #39acbc;
  bottom: 2px;
  right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header__phone-link:hover {
  color: #e4097f;
}
.header__phone-link:hover:after {
  background-color: #e4097f;
}

/* *Intro ========================= */
.intro {
  position: relative;
  padding: 120px 0 105px 0;
}
.intro:after,
.intro:before {
  position: absolute;
  content: "";
  height: 1px;
  width: 300px;
  background-color: #82dbe8;
  bottom: 0;
  top: 250px;
}
.intro:after {
  right: -265px;
}
.intro:before {
  left: -265px;
}
.intro__title {
  font-size: 36px;
  line-height: 42px;
  color: #393c3d;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-weight: 500;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 90px;
}
.intro__title br {
  display: none;
}
.intro__title strong {
  position: relative;
}
.intro__title strong:after {
  position: absolute;
  content: "";
  height: 15px;
  width: 100%;
  background-color: #82dbe8;
  bottom: -1px;
  left: 0;
  z-index: -1;
}
.intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 42px;
}
.intro-block {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 0 15px;
}
.intro-block__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 103px;
  height: 80px;
  margin-bottom: 35px;
}
.intro-block__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.intro-block__title {
  line-height: 21px;
  font-weight: 500;
  color: #39acbc;
  margin-bottom: 16px;
}
.intro-block__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}
/* *Goods =================== */
.goods {
  padding: 104px 0 54px 0;
}
.goods__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 104px;
}
.goods-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 418px;
  border-radius: 5px;
  padding: 28px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.09);
  margin: 0 40px;
}
.goods-card__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #39acbc;
  width: 50%;
  margin-bottom: 24px;
}
.goods-card__slider {
  margin-bottom: 64px;
  width: 100%;
  padding: 0 24px;
  position: relative;
}

.goods-card__slider-item {
  -webkit-transform: translateX(-2px);
  -ms-transform: translateX(-2px);
  transform: translateX(-2px);
}
.goods-card__slider-item img {
  margin: 0 auto;
  width: 100%;
  max-height: 314px;
  object-fit: contain;
}
.goods-card__slider--w100 .goods-card__slider-item img {
  width: 100%;
}
.goods-card__slider-prev,
.goods-card__slider-next {
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 10;
  width: 7px;
  height: 20px;
  cursor: pointer;
}
.goods-card__slider-prev {
  background: url(../images/icons/prev-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
}
.goods-card__slider-next {
  background: url(../images/icons/next-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  right: 0;
}
.goods-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.goods-card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 16px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.goods-card__col-1 {
  line-height: 24px;
  font-weight: 700;
  color: #4c5051;
  width: 28%;
}
.goods-card__col-2,
.goods-card__col-3,
.goods-card__col-4 {
  color: #8d9092;
}
.goods-card__row-desc {
  color: #8d9092;
  line-height: 24px;
  margin-left: auto;
  padding-top: 16px;
  width: 70%;
}
.goods-card__price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 48px;
}
.goods-card__price-col-1 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #4c5051;
}
.goods-card__price-col-2 {
  color: #8d9092;
  line-height: 24px;
  font-size: 23px;
}
.goods__attention {
  background: -o-linear-gradient(1deg, #3fbed0 24.94%, #76dae9 82.3%);
  background: linear-gradient(89deg, #3fbed0 24.94%, #76dae9 82.3%);
  padding: 22px 125px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  width: 980px;
  margin: 0 auto;
  position: relative;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
}
.goods__attention:before {
  position: absolute;
  content: "";
  height: 150px;
  width: 150px;
  background: url(../images/icons/attention.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  left: -50px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.price-btn {
  display: none;
}
.price-btn + label {
  display: inline-block;
  padding: 3px 10px;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #dfe6ea;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.11);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  color: #8d9092;
  margin-right: 8px;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.price-btn:checked + label {
  background: #53c7d7;
  color: #fff;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
  outline: none;
}
/* *Order ========================= */
.order {
  padding: 54px 0 100px 0;
  position: relative;
}
.order__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.order__content {
  width: 50%;
}
.order__image {
  width: 50%;
  -webkit-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}
.order__text {
  margin-bottom: 48px;
  font-size: 20px;
  font-weight: 300;
  color: #4c5051;
}
.fw500 {
  font-weight: 500;
}
.form {
  width: 352px;
  margin-bottom: 48px;
}
.form__group textarea {
  font-size: 18px;
  resize: none;
  width: 100%;
  height: 40px;
  padding-top: 15px;
}
.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin-bottom: 24px;
}
.form__group-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.form__group label {
  color: #a0a3a5;
  margin-bottom: 16px;
  font-size: 16px;
}
.form__group input {
  border-bottom: 2px solid #a0a3a5;
  font-size: 18px;
  padding: 3px 0;
  background: transparent;
}
.form__group textarea {
  font-size: 18px;
  resize: none;
  width: 100%;
  background: transparent;
}
.form__group input:focus,
.form__group textarea:focus {
  border-color: #82dbe8;
  border-width: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.form__group-center .form__group {
  width: 50%;
  margin-right: 32px;
}
.form__group-center .form__group:last-child {
  margin-right: 0px;
}
.form__group-center .form__group input {
  width: 100%;
}
.label-textarea {
  margin-bottom: 0;
}
input:focus ~ label,
textarea:focus ~ label {
  color: #15818f;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.form input,
textarea {
  border-bottom: 2px solid #a0a3a5;
  width: auto;
}
.add-phone {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #4c5051;
}
.add-phone__link {
  color: #39acbc;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.add-phone__link:hover {
  border-bottom: 1px solid #39acbc;
}
/* *certification ==================== */
.certification {
  background-color: #f7f9fa;
  padding: 105px 0 105px 0;
  position: relative;
}
.certification__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 50px;
}
.certification-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  width: 445px;
  border-radius: 5px;
  margin: 0 15px 30px;
  padding: 36px 48px;
}
.certification-card__icon {
  width: 136px;
  height: 136px;
  margin-bottom: 25px;
}
.certification-card__icon img {
  max-width: 100%;
  height: auto;
}
.certification-card__text {
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: #6e7273;
  line-height: 30px;
}
.cartification__desc {
  text-align: center;
  font-weight: 300;
  color: #4c5051;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 56px;
}
.certification__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.certification__item {
  background: #82dbe8;
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 26px;
  position: relative;
}
.certification__item:hover .certification__zoom {
  opacity: 1;
}
.certification__image {
  display: inline-block;
  width: 220px;
  height: 310px;
  margin: 30px 20px;
  -webkit-filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0px 4px 9px rgba(0, 0, 0, 0.3));
  border-radius: 5px;
  overflow: hidden;
}
.certification__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.certification__zoom {
  opacity: 0;
  position: absolute;
  top: 0;
  height: 100px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  width: 78px;
  height: 78px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
.certification__zoom-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}
/* certification__scroll */
.certification__scroll::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 10px;
  height: 0px;
}
.certification__scroll::-webkit-scrollbar-track {
  background-color: #fff;
}
.certification__scroll::-webkit-scrollbar-thumb {
  background-color: #82dbe8;
}
.certification__scroll::-webkit-scrollbar-thumb:hover {
  background-color: #82dbe8;
}
.certification__scroll::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 6px;
  height: 0px;
}
.certification__scroll::-webkit-scrollbar {
  width: 6px;
}
/* *About ====================== */
.about {
  padding: 104px 0;
  position: relative;
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 80px;
}
.about__left {
  width: 50%;
}
.about__text {
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 30px;
  color: #4c5051;
}
.about__text:last-child {
  margin-bottom: 0;
}
.about__right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.about__list {
  color: #15818f;
  font-weight: 500;
}
.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
}
.about__item:last-child {
  margin-bottom: 0;
}
.about__items-icon {
  margin-right: 20px;
}
.about__work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
.about__num-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  counter-reset: item;
  list-style: none;
  height: 135px;
}
.about__num-item {
  width: 357px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  font-size: 16px;
  padding-left: 150px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
}
.about__num-item:before {
  position: absolute;
  content: counter(item);
  counter-increment: item;
  color: #fff;
  font-size: 157px;
  line-height: 184px;
  font-weight: 700;
  left: 50px;
  top: -12px;
  bottom: 0;
  margin: auto;
}
.about__num-item:nth-child(1):after {
  position: absolute;
  content: "";
  background: url(../images/rect-1.png);
  background-position: center right;
  background-repeat: no-repeat;
  height: 100%;
  width: 300%;
  right: -50px;
  z-index: -1;
}
.about__num-item:nth-child(2):after {
  position: absolute;
  content: "";
  background: url(../images/rect-2.png);
  background-position: center right;
  background-repeat: no-repeat;
  height: 100%;
  width: 300%;
  right: -50px;
  z-index: -2;
}
.about__num-item:nth-child(3):after {
  position: absolute;
  content: "";
  background: url(../images/rect-3.png);
  background-position: center right;
  background-repeat: no-repeat;
  height: 100%;
  width: 300%;
  right: -50px;
  z-index: -3;
}
.about-video {
  position: relative;
  padding-bottom: 36%;
  height: 0;
  overflow: hidden;
  text-align: center;
  margin-top: 50px;
  width: 70%;
  border-radius: 5px;
  margin: 0 auto 40px;
}
.about-video iframe,
.about-video object,
.about-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* *Question-answer ================== */
.q-a {
  padding: 130px 0;
  position: relative;
}
.q-a__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.q-a__list {
  counter-reset: item;
  list-style: none;
}
.q-a__item {
  height: auto;
  width: 755px;
  border-radius: 5px;
  padding: 22px 67px;
  margin-bottom: 36px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.09);
  position: relative;
}
.q-a__item:before {
  position: absolute;
  content: counter(item);
  counter-increment: item;
  background: #82dbe8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  width: 78px;
  height: 78px;
  left: -40px;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 50px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
}
.q-a__item-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #4c5051;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.q-a__item-text {
  line-height: 24px;
  color: #2a9eae;
  padding-left: 17px;
}
/* *Price-list =================== */
.price-list {
  padding: 106px 0 82px 0;
  background: url(../images/bg/bg-circle.svg), #f7f9fa;
  background-repeat: no-repeat;
  background-position: center right;
}
.price-list__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.price-list__image {
  border-radius: 5px;
  overflow: hidden;
  width: 45%;
}
.price-list__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.price-list__content {
  padding-left: 56px;
  width: 55%;
}
.price-list__text {
  color: #4c5051;
  margin-bottom: 48px;
  font-size: 20px;
  line-height: 24px;
}
.form--prise-list {
  margin-bottom: 0;
}
.form--prise-list .btn {
  margin-bottom: 34px;
}
.price-list__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  color: #a0a3a5;
  line-height: 20px;
  margin-bottom: 34px;
}
/* *Footer ====================== */
.footer {
  padding: 80px 0;
  background: url(../images/bg/bg-footer.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 50%;
}
.footer__map {
  width: 50%;
}
.footer__map-desktop {
  display: inline-block;
  height: 344px;
  border-radius: 5px;
  overflow: hidden;
}
.contacts {
  padding-left: 60px;
}
.contacts__address {
  position: relative;
  color: #fff;
  line-height: 24px;
  margin-bottom: 32px;
}
.contacts__address:before {
  position: absolute;
  content: "";
  background: url(../images/icons/loc.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 34px;
  width: 24px;
  left: -54px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.contacts__phone {
  position: relative;
  color: #fff;
  line-height: 24px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.contacts__phone:before {
  position: absolute;
  content: "";
  background: url(../images/icons/footer-call.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 30px;
  width: 30px;
  left: -57px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.contacts__phone:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: transparent;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.contacts__phone:hover {
  color: #86e3f0;
}
.contacts__phone:hover:after {
  background: #86e3f0;
}
.footer__map-desktop {
  height: 344px;
  width: 540px;
}
.footer__map-table {
  display: none;
  position: absolute;
  top: 80px;
  right: 0px;
  width: 50%;
  height: 272px;
  border-radius: 5px;
  overflow: hidden;
}
.footer__logo {
  margin-bottom: 32px;
}
.footer__upfly {
  line-height: 21px;
  color: #fff;
}
.footer__upfly a {
  font-weight: 700;
  position: relative;
}
.footer__upfly a:after {
  position: absolute;
  content: "";
  background: #86e3f0;
  width: 50%;
  height: 3px;
  bottom: -3px;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer__upfly a:hover:after {
  width: 100%;
}
/* *Modal ===================== */
.modal__title {
  color: #1f3636;
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-bottom: 25px;
  text-align: center;
}
.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  border-radius: 25px;
}
.modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 498px;
  height: auto;
  padding: 25px;
  background: url(../images/bg/bg-modal.svg);
  background-repeat: no-repeat;
  background-position: right top 70px;
  border-radius: 30px;
  position: relative;
}
.close {
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-bottom: 20px;
}
.form__buttons.form__buttons--popup {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 45px;
}
.modal__close {
  background: transparent;
  padding: 0;
  border: none;
  font-size: 0;
  -webkit-transform: translateY(-60%);
  -ms-transform: translateY(-60%);
  transform: translateY(-60%);
}
.form.form--modal {
  margin-bottom: 0;
}
.form--modal .form__group textarea {
  height: 33px;
  padding-top: 7px;
}
.fancybox-slide--html .fancybox-close-small {
  display: none;
  padding: 10px;
}
.fancybox-can-swipe .fancybox-content,
.fancybox-can-pan .fancybox-content {
  cursor: inherit;
  padding: 0;
}
/* *404 ======================= */
.error__wrapper {
  min-height: 100vh;
}
.error__inner {
  width: 540px;
  margin: -50px auto 0;
}
.error__num {
  font-size: 288px;
  line-height: 1;
  color: #e1e1e1;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin-bottom: 10px;
}
.error__title {
  color: #82dbe8;
  font-size: 50px;
  line-height: 59px;
  margin-bottom: 10px;
}
.error__text {
  font-size: 22px;
  line-height: 26px;
  color: #636a6a;
  margin-bottom: 40px;
}
.error__wrapper .header {
  margin-bottom: 0;
}
/* *Success =================== */
.success-wrapper {
  min-height: 100vh;
}
.success__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.success__content {
  width: 50%;
}
.success__image {
  height: 500px;
  width: 50%;
}
.success__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.success__title {
  font-size: 50px;
  line-height: 59px;
  color: #82dbe8;
  font-family: "Raleway", sans-serif;
  margin-bottom: 33px;
}
.success__text {
  font-size: 22px;
  line-height: 26px;
  color: #636a6a;
  margin-bottom: 100px;
}
.success__inner .btn {
  text-align: left;
}
