@media (max-width: 1199px) {
  /* *Btn ==================== */
  .btn.btn--square {
    text-align: center;
  }
  .btn--square button,
  .btn--square a {
    margin-top: 16px;
  }
  /* *Intro ================== */
  .intro__title {
    width: 60%;
  }
  /* *Goods ================== */
  .goods__attention {
    padding: 18px 93px;
    width: 590px;
    font-size: 20px;
    line-height: 24px;
  }
  /* *Order ================== */
  .order__inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .order__content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .order__text {
    text-align: center;
  }
  .form__group {
    font-size: 16px;
  }
  .form__group input {
    font-size: 17px;
  }
  .form {
    margin-bottom: 32px;
  }
  .add-phone {
    font-size: 17px;
    text-align: center;
  }
  .order {
    padding: 60px 0 90px 0;
  }
  /* *Certification ================= */
  .certification {
    padding: 77px 0;
  }
  .certification-card {
    width: 323px;
    padding: 0;
    height: 296px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .certification-card__icon {
    width: 105px;
    height: 105px;
    margin-bottom: 24px;
  }
  .certification-card__text {
    font-size: 18px;
    line-height: 25px;
    width: 70%;
  }
  .certification__cards {
    margin: 0 -15px 10px;
  }
  .cartification__desc {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 40px;
  }
  /* *About ========================= */
  .about {
    padding: 76px 0;
  }
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 60px;
  }
  .about__left {
    width: 56%;
    margin-bottom: 40px;
  }
  .about__text {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
  }
  .about__item {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .about__items-icon {
    margin-right: 40px;
    width: 30px;
    height: 30px;
  }
  .about__items-icon img {
    height: 30px;
    width: 30px;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .title--thin {
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 40px;
  }
  .about__num-item::before {
    content: none;
  }
  .about__num-item {
    width: 225px;
    font-size: 15px;
    padding-left: 50px;
    line-height: 19px;
  }
  /* *Question-answer =============== */
  .q-a {
    padding: 76px 0;
  }
  /* *Price-list ==================== */
  .price-list {
    padding: 76px 0 60px 0;
    background: #f7f9fa;
  }
  /* *Footer ======================== */
  .yandex__map {
    height: 280px;
    width: 100%;
  }
  .footer__map-table {
    display: block;
    width: 50%;
  }
  .footer__map-desktop {
    display: none;
  }
  .contacts__address {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .contacts__phone {
    font-size: 17px;
    line-height: 20px;
  }
  .footer__logo {
    width: 323px;
    height: 99px;
    margin-bottom: 22px;
  }
  .footer__logo img {
    max-width: 100%;
    height: auto;
  }
  .footer__inner {
    height: 272px;
  }
}
@media (max-width: 991px) {
  /* *Title ========================= */
  .title {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 40px;
  }
  /* *Diviner ======================== */
  .divider {
    height: 63px;
    width: 63px;
    bottom: -32px;
  }
  .divider__image {
    width: 26px;
    height: 33px;
  }
  .divider__center:after,
  .divider__center:before {
    width: 81px;
  }
  .divider__center:before {
    left: -120px;
  }
  .divider__center:after {
    right: -120px;
  }
  /* *btn =================== */
  .btn a,
  .btn button {
    font-size: 18px;
    line-height: 21px;
    padding: 18px 30px;
  }
  .btn--sm a,
  .btn--sm button {
    font-size: 17px;
    line-height: 20px;
    padding: 8px 59px 8px 14px;
  }
  .btn--sm a:after,
  .btn--sm button:after {
    position: absolute;
    content: "";
    height: 27px;
    width: 27px;
  }
  /* *Header ================ */
  .header__phone {
    font-size: 17px;
    line-height: 20px;
  }
  .header__phone-link::after {
    width: 74%;
  }
  /* *Intro ================== */
  .intro {
    padding: 71px 0 77px 0;
  }
  .intro::after,
  .intro::before {
    content: none;
  }
  .intro__title {
    font-size: 32px;
    line-height: 38px;
    width: 70%;
    margin-bottom: 50px;
  }
  .intro-content {
    margin-bottom: 32px;
  }
  .intro-block__img {
    width: 65px;
    height: 51px;
    margin-bottom: 30px;
  }
  .intro-block__title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 12px;
  }
  .intro-block__text {
    font-size: 15px;
    line-height: 18px;
  }
  /* *Goods ================== */
  .goods {
    padding: 76px 0 30px 0;
  }
  .goods__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 56px;
  }
  .goods-card {
    margin: 0 0 40px 0;
    width: 440px;
  }
  .goods-card:last-child {
    margin: 0;
  }
  .goods-card__title {
    width: 100%;
    margin-bottom: 24px;
  }
  .goods-card__slider {
    margin-bottom: 32px;
  }
  .goods-card__row {
    font-size: 17px;
  }
  .goods-card__price-col-1 {
    font-size: 22px;
  }
  .goods-card__price-col-2 {
    font-size: 21px;
  }
  .order__image {
    display: none;
  }
  /* *Certification ============= */
  .certification__container {
    width: 620px;
    margin: 0 auto;
  }
  .certification__scroll {
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  /* *Question-answer ===============*/
  .q-a__item {
    width: 622px;
    padding: 16px 48px;
    margin-bottom: 24px;
  }
  .q-a__item::before {
    width: 59px;
    height: 59px;
    left: -30px;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 42px;
    line-height: 24px;
  }
  .q-a__item-title {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .q-a__item-text {
    font-size: 16px;
    line-height: 22px;
    padding-left: 24px;
  }
  /* *Price-list ============ */
  .price-list__image {
    display: none;
  }
  .price-list__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    width: 100%;
  }
  .price-list__text {
    text-align: center;
    margin-bottom: 24px;
    font-size: 17px;
    width: 70%;
  }
}
@media (max-width: 767px) {
  /* *Title ================= */
  .title {
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 30px;
  }
  /* *btn =================== */
  .btn a,
  .btn button {
    font-size: 16px;
    line-height: 19px;
    padding: 13px 26px;
  }
  .btn--sm a,
  .btn--sm button {
    padding: 8px 59px 8px 14px;
  }
  .btn--sm a:after,
  .btn--sm button:after {
    position: absolute;
    content: "";
    height: 27px;
    width: 27px;
  }
  /* *Header ================ */
  .header__phone--mob {
    display: none;
  }
  .header__phone-icon {
    margin-right: 0;
    width: 30px;
    height: 30px;
  }
  .header__phone-link::after {
    content: none;
  }
  .header__logo {
    max-width: 140px;
    height: auto;
  }
  /* *Intro ================== */
  .intro {
    padding: 68px 0 56px 0;
  }
  .intro__title {
    font-size: 20px;
    line-height: 27px;
    width: 100%;
    margin-bottom: 32px;
  }
  .intro-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .intro-block {
    width: 100%;
  }
  .intro-block__img {
    margin-bottom: 24px;
  }
  .intro-block__title {
    margin-bottom: 8px;
  }
  .intro-block {
    margin-bottom: 24px;
  }
  /* *Goods ================== */
  .goods {
    padding: 56px 0 20px 0;
  }
  .goods-card__title {
    font-size: 20px;
    line-height: 24px;
  }
  .goods__content {
    margin-bottom: 100px;
  }
  .goods-card {
    margin: 0 15px 40px 15px;
    width: 100%;
  }
  .goods-card__slider {
    width: 100%;
    padding: 0 16px;
    position: relative;
  }
  .goods-card__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 8px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .goods-card {
    padding: 24px;
  }
  .goods-card__slider-item {
    width: 100%;
  }
  .goods-card__col-1 {
    line-height: 24px;
    margin-bottom: 8px;
  }
  .goods-card__col-2,
  .goods-card__col-3,
  .goods-card__col-4 {
    margin-right: 8px;
    width: auto;
  }
  .goods-card__row-desc {
    font-size: 16px;
    line-height: 20px;
    margin-left: 0;
    padding-top: 8px;
    width: 100%;
  }
  .goods-card__price-row {
    margin-bottom: 24px;
  }
  .goods-card__price-col-1,
  .goods-card__price-col-2 {
    font-size: 20px;
    line-height: 24px;
  }
  .goods__attention {
    padding: 70px 15px 24px 15px;
    width: 100%;
    font-size: 20px;
    line-height: 23px;
  }
  .goods__attention::before {
    height: 120px;
    width: 120px;
    left: 0;
    top: -140px;
    bottom: 0;
    margin: auto;
    right: 0;
  }
  /* *Order =================== */
  .order {
    padding: 40px 0 71px 0;
  }
  .order__text {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 20px;
  }
  .form__group-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .form__group-center .form__group {
    width: 80%;
  }
  .br-none {
    display: block;
  }
  /* *Certification ============== */
  .certification {
    padding: 57px 0;
  }
  /* *About ===================== */
  .about {
    padding: 56px 0;
  }
  .about__item {
    font-size: 15px;
  }
  .about__items-icon {
    margin-right: 30px;
  }
  .about__content {
    margin-bottom: 0;
  }
  .about__num-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    width: 265px;
  }
  .about__work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
  }
  .about__num-list {
    height: auto;
  }
  .about__num-item {
    height: 85px;
    width: 280px;
    font-size: 16px;
    padding-left: 75px;
    line-height: 19px;
  }
  .about__num-item:after {
    height: 100%;
    width: 300%;
    right: -20px;
    z-index: -1;
  }
  .about__num-item:before {
    content: counter(item);
    counter-increment: item;
    font-size: 100px;
    line-height: 117px;
    left: 10px;
    top: -9px;
    bottom: 0;
    margin: auto;
  }
  .about__left {
    width: 100%;
    margin-bottom: 30px;
  }
  .about__text {
    font-size: 15px;
    line-height: 20px;
  }
  .about__right {
    width: 100%;
  }
  .about__list {
    margin-bottom: 30px;
  }
  .about-video {
    padding-bottom: 42%;
    width: 100%;
  }
  /* *Question-answer ===============*/
  .q-a {
    padding: 56px 0;
  }
  .q-a__item {
    height: auto;
    width: auto;
    padding: 16px 16px 16px 61px;
    margin-bottom: 24px;
    margin-left: 30px;
  }
  .q-a__item::before {
    width: 59px;
    height: 59px;
    left: -30px;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 42px;
    line-height: 24px;
  }
  .q-a__item-title {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .q-a__item-text {
    padding-left: 0;
    font-size: 16px;
  }
  .q-a__scroll {
    height: 79px;
  }
  /* *price-list ================= */
  .price-list {
    padding: 56px 0 19px 0;
    background: #f7f9fa;
  }
  .price-list__text {
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
  }
  /* *Footer ====================== */
  .footer {
    padding: 42px 0 250px 0;
  }
  .footer__info {
    width: 100%;
  }
  .footer__map-table {
    top: auto;
    width: 100%;
    bottom: 0;
    height: 230px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .footer__logo {
    width: 290px;
    height: 89px;
    margin-bottom: 16px;
  }
  .footer__inner {
    height: 265px;
  }
  /* *Error 404 ==================== */
  .error__inner {
    width: auto;
    margin: auto 0;
    text-align: center;
  }
  .error__num {
    font-size: 200px;
    margin-bottom: 20px;
  }
  .error__title {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 10px;
  }
  .error__text {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  /* *Success ================== */
  .success__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 15px;
  }
  .success__text {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 60px;
  }
}
@media (max-width: 575px) {
  /* *Intro ===================== */
  .intro__title br {
    display: block;
  }
  /* *Order ===================== */
  .form {
    width: 100%;
  }
  /* *Goods ===================== */
  .goods-card__col-1 {
    width: 100%;
  }
  .goods-card__col-2,
  .goods-card__col-3,
  .goods-card__col-4 {
    margin-bottom: 8px;
    margin-right: 0;
  }
  /* *Certification =========== */
  .certification-card {
    width: 100%;
    height: 168px;
  }
  .certification-card__icon {
    width: 78px;
    height: 78px;
    margin-bottom: 8px;
  }
  .certification-card__text {
    font-size: 16px;
    line-height: 22px;
    width: 70%;
  }
  /* *About ===================== */
  .about__num-list {
    margin: 0;
    width: 70%;
  }
  .about__num-item {
    width: 110%;
  }
  .about-video {
    padding-bottom: 50%;
  }
  /* *Modal ===================== */
  .modal-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .close {
    width: 18px;
    height: 18px;
    margin-bottom: 0;
  }
  .modal__title {
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    margin-bottom: 16px;
  }
  .form--modal {
    margin-bottom: 0px;
  }
  .btn--modal {
    margin-bottom: 0px;
    margin-top: 32px;
  }
  .btn--modal button,
  .btn--modal a {
    font-size: 16px;
    line-height: 19px;
    padding: 13px 27px;
  }
  /* *Error 404 ==================== */
  .error__inner {
    width: auto;
    text-align: center;
  }
  .error__num {
    font-size: 140px;
    margin-bottom: 20px;
  }
  .error__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .error__text {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 30px;
  }
  /* *Success ======================== */
  .success__image {
    display: none;
  }
  .success__content {
    width: 100%;
    text-align: center;
    padding-top: 50px;
  }
  .success__inner .btn {
    text-align: center;
  }
}
